{% load static %}
<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li class="submenu">
            <li>
               <a href="{% url 'Hod_home'%}"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-user-graduate"></i> <span> Student</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'Add_student'%}">Add Student</a></li>
                  <li><a href="{% url 'View_student'%}">View Student</a></li>
                  
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="teacher-details.html">Staff View</a></li>
                  <li><a href="add-teacher.html">Staff Add</a></li>
                  <li><a href="edit-teacher.html">Staff Edit</a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fa fa-graduation-cap"></i> <span> Course</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="{% url 'add_course'%}">Add Course </a></li>
                  <li><a href="add-department.html">View Course </a></li>
                  <li><a href="edit-department.html">Edit Course </a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="subjects.html">Add Subject List</a></li>
                  <li><a href="add-subject.html">List Subject </a></li>
                  <li><a href="edit-subject.html">Edit Subject </a></li>
               </ul>
            </li>
            <li class="submenu">
               <a href="#"><i class="fas fa-clock"></i> <span>Session</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="subjects.html">Session View</a></li>
                  <li><a href="add-subject.html">Session Add</a></li>
                  <li><a href="edit-subject.html">Session Edit</a></li>
               </ul>
            <li>
               <a href="#"><i class="fas fa-calendar"></i><span>View Attendance</span> <span class="menu-arrow"></span></a>
            </li>
            <li>
               <a href="#"><i class="fas fa-comments"></i> <span>Staff Feedback</span> <span class="menu-arrow"></span></a>
            </li>
            <li>
               <a href="#"><i class="fas fa-comments"></i> <span>Student Feedback</span> <span class="menu-arrow"></span></a>
            </li>
            <li>
               <a href="#"><i class="fa fa-envelope"></i><span>Student Leave</span> <span class="menu-arrow"></span></a>
            </li>
            <li>
               <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout    </span> <span class="menu-arrow"></span></a>
            </li>
         </ul>
      </div>
   </div>
</div>