{% extends 'base.html'%}
{% block content %}

<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <form method="POST" action="{% url 'View_student'%}" enctype="multipart/form-data">
               {% csrf_token%}
               <h3 class="page-title">View Students</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                  <li class="breadcrumb-item active">View Students</li>
               </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
               <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
               <a href="add-student.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card card-table">
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                           <tr>
                              <th></th>
                              <th>Name</th>
                              <th>Parent Address</th>
                              <th>Email</th>
                              <!-- <th>Students Id</th> -->
                              <th>Gender</th>
                              <th>Course</th>
                              <th>Session Years Id</th>
                              <th>Create At</th>
                              <th>Update At</th>
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for i in student %}
                           <tr>
                              <td></td>
                              <td>
                                 <h2 class="table-avatar">
                                    <a href="student-details.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/{{i.admin.profile_pic}}" alt="User Image"></a>
                                    <a href="student-details.html">{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</a>
                                 </h2>
                              </td>
                              <td>{{i.permanent_address}}</td>
                              <td>{{i.admin.email}}</td>
                              <!-- <td>{{i.student_id}}</td> -->
                              <td>{{i.gender}}</td>
                              <td>{{i.course }}</td>
                              <td>{{i.session_year_id.session_start}} to {{i.session_year_id.session_end}}</td>
                              <td>{{i.create_at}}</td>
                              <td>{{i.update_at}}</td>
                              <td class="text-right">
                                 <div class="actions">
                                    <a href="{% url 'Edit_student' i.id%}" class="btn btn-sm bg-success-light mr-2">
                                    <i class="fas fa-pen"></i>
                                    </a>
                                    <a href="{% url 'delete_student' i.admin.id %}" class="btn btn-sm bg-danger-light">
                                    <i class="fas fa-trash"></i>
                                    </a>
                                 </div>
                              </td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</div>   

<t><t><t>{% endblock %}</t></t></t>